*{
  margin: 0;
  padding: 0;
}

.header {
  color: darkblue;
  background-image: linear-gradient(#CAC531, #F3F9A7);
  text-decoration: none;
  font-family: "Concert One", cursive;
     }

.link_header {
  color: darkblue;
  text-decoration: none;
  font-family: "Concert One", cursive;
  font-size: 30px;
  text-decoration: none;
  margin-bottom: 0px; 
    display: flex;
    list-style: none;
    font-size: 1;
    text-decoration: none; 
      display: inline-block;
      position: relative;
      font-size: 20px;
      text-decoration: none;
  
}